cloud_id                 = "b1g88rcmib7qiupr2krh"
folder_id                = "b1g7oc7b3a741a30u16g"
zone                     = "ru-central1-a"
image_id                 = "fd8tpbp0lv41ioi23jl9"
public_key_path          = "~/.ssh/yc_otus_rsa.pub"
privat_key_path          = "~/.ssh/yc_otus_rsa"
subnet_id                = "e9be64b379s4effrvc48"
service_account_key_file = "../key.json"
vm_zone                  = "ru-central1-a"
